.MainScreenWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
}

.MainScreenCats {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainScreenDogs {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-weight: bold;
  font-size: 22px;
  background-color: transparent;
  padding: 30px 70px;
  border: 4px solid black;
  transition: 0.2s all;
}

.ButtonAlt{
  border-color: #b26518;
  color: #b26518;
  padding: 20px 60px;
  box-shadow: 10px 10px 24px -2px rgba(0,0,0,0.59);
  cursor: pointer;
}

button:hover {
  border-color: #b26518;
  color: #b26518;
  box-shadow: 10px 10px 24px -2px rgba(0,0,0,0.59);
}

button:focus {
  outline: none;
}

.PanelLeft {
  position: absolute;
  width: 50%;
  height: 100vh;
  background-color: #844200;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: -50%;
  transition: 0.3s all ease-in-out;
  background-image: linear-gradient(
    to bottom,
    #4e2700,
    #5f3002,
    #703803,
    #824102,
    #944a00
  );
}

.PanelLeftActive {
  left: 0 !important;
  opacity: 1 !important;
}

.PanelRight {
  position: absolute;
  width: 50%;
  height: 100vh;
  background-color: #844200;
  opacity: 0;
  z-index: -1;
  top: 0;
  right: -50%;
  transition: 0.3s all ease-in-out;
  background-image: linear-gradient(
    to bottom,
    #4e2700,
    #5f3002,
    #703803,
    #824102,
    #944a00
  );
}

.PanelRightActive {
  right: 0 !important;
  opacity: 1 !important;
}