body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Impact";
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #f8f8f4;
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
}

::selection{
  background-color: #e2af22;
}

h2{
  font-size: 36px;
}

p{
  font-size: 22px;
  color: #808080;
}

input{
  width: 55%;
  margin: auto;
  font-size: 36px;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  margin-bottom: 22px;
  font-weight: bold;
}

textarea{
  color: #808080;
  font-size: 22px;
  width: 80%;
  margin: auto;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  resize: none;
  text-align: center;
}

button:hover {
  border-color: #b26518;
  color: #b26518;
  box-shadow: 10px 10px 24px -2px rgba(0,0,0,0.59);
}

input:focus, textarea:focus, button:focus {
  outline: none;
}

button {
  font-weight: bold;
  font-size: 22px;
  background-color: transparent;
  padding: 30px 70px;
  border: 4px solid black;
  transition: 0.2s all;
}